.all-favorites {
  display: flex;
  justify-content: center;
}

.favorite-constructors {
  padding-left: 20px;
}

@media screen and (max-width: 930px) {
  .all-favorites{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}
