.driver-card {
  display: flex;
  background-color: black;
  border-radius: 10px;
  border: solid 2px;
  border-color: #8500FB;
  color: white;
  width: 450px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  margin: 10px;
}

.image-div, .stats-div {
  padding-left: 20px;
}

.stats-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 10px;
}


.driver-name {
  font-size: 25px;
  font-weight: bold;
}

.like-icon {
  align-self: flex-end;
  cursor: pointer;
	height: 3em;
	-webkit-animation: rotate-vert-center 0.5s
		cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
		both;
}

/* -------- Animation -------- */

@-webkit-keyframes rotate-vert-center {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@keyframes rotate-vert-center {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
