.navigation {
	height: 7vw;
	background-color: gray;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
  background: linear-gradient(90deg, rgba(56,2,2,1) 0%, rgba(255,0,0,1) 48%, rgba(121,9,9,1) 78%);
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.nav-buttons {
	border-radius: 0.5em;
	height: 8em;
	width: 33em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-button {
  color: white;
}

.title {
	font-size: 30px;
}
h4 {
	font-size: 15px;
}
