.navigation {
	height: 7vw;
	background-color: gray;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(90deg, rgba(50,28,179,1) 0%, rgba(178,35,184,1) 52%, rgba(233,23,112,1) 100%);
}

.title-div {
	display:flex;
	color: white;
}

.nav-buttons {
	border-radius: 0.5em;
	height: 8em;
	width: 33em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-button {
  color: white;
}

.title {
	font-size: 30px;
}
h4 {
	font-size: 15px;
}
